<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AccesoDatos.Properties.Settings.BDDEMPRESAConnectionString"
            connectionString="Data Source=charlie\sqlexpress;Initial Catalog=BDDEMPRESA;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>